<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('partials/header') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/mode/javascript/javascript.min.js"></script>
</head>

<body>

  <%-include('partials/navigation') %>

  <div class="container p-4">
    <form method="POST" action="/new-entry" class="card card-body">

      <div class="form-group">
        <label for="titulo">Titulo</label>
        <input name="titulo" type="text" class="form-control" placeholder="Entry a New Title" autofocus required>
      </div>

      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <input name="descripcion" type="text" class="form-control" placeholder="Descripcion" autofocus required>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="app-row" style="margin-bottom: 10px;">
            <label for="validationDefault03" class="form-label">Codigo</label>
            <textarea class=".codemirror-js style="width: 50%; id="editororaculo"></textarea>
          </div>
          <script>
            let editororaculo = CodeMirror.fromTextArea($("#editororaculo")[0], {
              lineNumbers: true,
              mode: "javascript"
            });
            //show for default
            editororaculo.doc.setValue( "function myFunction(){\n\t return 100;\n}");
            //onClick clear
            $("#clear").click(() => editororaculo.doc.setValue(""));
            //onClick clear
            $("#refresh").click(() => editororaculo.doc.undo());
        </script>

          <div class="form-group">
            <label for="test">Test</label>
            <textarea class="form-control" name="test" rows="2" required>
               </textarea>
          </div>
      


      <div class="container">
        <div class="row">
          <div class="app-row" style="margin-bottom: 10px;">
            <label for="validationDefault03" class="form-label">Oraculo</label>
            <textarea class=".codemirror-js style="width: 50%; id="editororaculo1"></textarea>
          </div>
          <script>
            let editororaculo1 = CodeMirror.fromTextArea($("#editororaculo1")[0], {
              lineNumbers: true,
              mode: "javascript"
            });
            //show for default
            editororaculo1.doc.setValue( "function myFunction(){\n\t return 100;\n}");
            //onClick clear
            $("#clear").click(() => editororaculo1.doc.setValue(""));
            //onClick clear
            $("#refresh").click(() => editororaculo1.doc.undo());
        </script>
       
      </div>

    
      <div class="form-group">
        <input type="submit" value="Post Entry" class="btn btn-primary">
      </div>
    </form>

  </div>

 
</body>

</html>